<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal Project</title>
</head>
<body>
  <header></header>
  
  <wrapper>
    <div class="main">
      <form action="" method="post">
        <label>Input Function Code:</label>
        <br><input id="callback" type="text" placeholder="PUT YO FUNC IN HERE" name="callback"/>
        
        <br><br><label>What's your input data type?</label><br>
        <input type="radio" name="dataType" id="numType" value="Number"> Number<br>
        <input type="radio" name="dataType" id="stringType" value="String"> String<br>
        <input type="radio" name="dataType" id="sameLengthArr" value="Array"> Array<br>
        <input type="radio" name="dataType" id="otherInput" value=""> <input type="text" name="other_dataType" id="testCase" placeholder="Input Yo Own Test Case"/><br>
        <br><input type="submit">
      </form>
      <div id="magic">
      </div>
    </div>

    <div class="info">
      <h1>Let's break it downnn:</h1>
        <p>
          <b>Big O notation:</b> How quickly the run time grows -- <i>relative to the input <b>n</b> !</i>
          <br><b>n</b> can be the <i>actual input</i>, if the input is just a number, OR <b>n</b> can be the <i>size</i> of the input, if input is a number of items!
        </p>
    </div>
  </wrapper>
</body>

<style>
  * {
    box-sizing: border-box;
  }

  html,
    body {
    width: 100 %;
    height: 100 %;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .main {
    padding: 1em;
    border - radius: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid black;
    width: 60%;
    height: 60%;
  }

  #callback {
    padding: 1em;
    width: 400px;
    height: 200px;
  }

  #testCase {
    width: 200px;
  }
</style>

</html>